
.clearfix{
	overflow:auto;
}

.banner{
	width:1250px;
	margin:auto;
	margin-top:1px;
	margin-bottom:1px;
	padding:1px;
	color:white;
	background-color: rgba(0,0,0,0.85);	
}

.page-wrap {
  min-height: 100%;
  height: 100%;
  width:100%;
  /* equal to footer height */
  margin-bottom: 10px; 
}


table, tr {
 width:100%;
}

tr {
	background-color: rgba(255,255,255,0.5);
	padding: 5px 2px;
}

tr:hover{
	background-color: rgba(255,255,255,1);
}

h2, h3,h4,h5{
	align-self:center;
}

img{
	border:1px solid black;
}

body{
	background-image: url("images/bg.png");
	background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: center top; 
	background-size: auto;
	font-family:"Calibri";
	margin:0dp;
}



#north {
	text-align:center;
	position: relative;
	height:85px;
	margin-top:85px;
	margin-bottom:25px;
}

#nav{
	position: absolute;
	top:95px;
	left:5%;
	height:25px;
	padding:3px;
	width:50%;
}

#nav ul{
	float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#nav li{
    display: inline;
	margin-right:5px;
}
#nav a{
	border: 1px;
	border-color: black;
	background-color: rgba(256,256,0,0.5);
	padding:3px;
	color: white;
	text-decoration: none;
	width:10%;
	padding:3px 15px 3px 15px;
}

#nav a:hover{
	background-color: rgba(222,222,0,0.9);
	
	text-align:center;
}

#new-nav{
	background-color: rgba(126,126,126,0.9);
}

#center {
	top:5px;
	width:800px;
	padding:15px 2.5% 15px 2.5%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.87);
	border:1px dotted black;
}

#post {
	margin-bottom: 5%;
	margin-top: 5%;
	padding:15px 2.5% 15px 2.5%;
	background-color: rgba(126,126,126,1);
}

#south {
	text-align:right;
	padding-right:15px;
	position: relative;
    left: 0;
    bottom: 0;
    height: 60px;
}

#overlay {
	opacity : 0.4;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background-color: white;
	 width: 100%;
	 height: 100%;
	 z-index: 5000;
}

#overlay img{
	position: relative;
    left:50%;
    right:50%;
	border: none;
	transform: translate(-50%, 30%);
}

.box {
    margin:2px 2px 2px 2px;
    display:inline-block;
    width:215px;
    height:50px;
    padding:15px;
    background-color: rgba(0, 0, 0,.7);
	border: 1px solid black;
    color:white;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    background-position:320px 50%;
    background-repeat:no-repeat;
    text-decoration: none;
}

.box h5 {
    font: bold 24px Sans-Serif !important;
    text-transform:uppercase;
    font-size:38px;
    line-height:1;
    padding:0 0 10px 0;
}
.box:hover h5 {
    text-shadow:0 0 4px rgba(0,0,0,0.4);
    color:white;
}
.box:hover p {
    color:white;
}
.box p {
    font-size:12px;
    width:175px;
    line-height:1.5;
}
.box:hover {
    background-position:200px 50%;
}
#button-match-history {
    background-image:url(images/match_history.png);
    background-position:300px 10px;
}
#button-match-history:hover {
    background-color:rgb(76,0,153);
    background-position:150px 10px;
}
#button-match-history:hover h5{
	text-shadow: 0.1em 0.1em 0.2em black
}

#button-masteries {
    background-image:url(images/masteries.png);
    background-position:300px 10px;
}
#button-masteries:hover {
    background-color:rgb(192,255,255);
    background-position:150px 10px;
}

#button-masteries:hover h5{
	text-shadow: 0.1em 0.1em 0.2em black
}
.champion-icon {
	margin:2px 2px 2px 2px;
    display:inline-block;
    width:48px;
    height:48px;
    background-color: rgba(0, 0, 0,.7);
	border: 1px solid black;
    color:white;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    background-repeat:no-repeat;
    text-decoration: none;
}

.map-icon {
    display:inline-block;
    width:100%;
	height:100%;
    color:white;
    text-decoration: none;
	bottom:0dp;
	right:0dp;
}