
.input-box{
	display:inline-block;
    width:100%;
    height:30px;
    background-color: rgba(255, 255, 255,.7);
	border: 1px solid black;
    color:black;
    text-decoration: none;
	text-align:center;
}

.input-box:hover{
    background-color: rgba(255, 255, 255,1);
}

.clearfix{
	overflow:auto;
}

.banner{
	width:1800px;
	margin:auto;
	margin-top:1px;
	margin-bottom:1px;
	color:white;
	background-color: rgba(0,0,0,0.85);	
	background-position-x: -100px;
    text-decoration: none;
	box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 10px;
}

.banner-box {
    display:inline-block;
    width:800px;
    height:auto;
    color:white;
    text-decoration: none;
}

.page-wrap {
  min-height: 100%;
  height: 100%;
  width:100%;
  /* equal to footer height */
  margin-bottom: 10px; 
}

.nav-box {
    margin:2px 2px 2px 2px;
    display:inline-block;
    width:215px;
    height:50px;
    padding:15px;
    background-color: rgba(0, 0, 0,.7);
	border: 1px solid black;
    color:white;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    background-position:320px 50%;
    background-repeat:no-repeat;
    text-decoration: none;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 10px;
}

.nav-box h5 {
    font: bold 24px Sans-Serif !important;
    text-transform:uppercase;
    font-size:38px;
    line-height:1;
    padding:0 0 10px 0;
}
.nav-box:hover h5 {
    text-shadow:0 0 4px rgba(0,0,0,0.4);
    color:white;
}

.nav-box:hover {
    background-position:200px 50%;
}

.m-h-load-more-box{
	display:inline-block;
    width:100%;
    height:30px;
    background-color: rgba(0, 0, 0,.7);
	border: 1px solid black;
    color:white;
    text-decoration: none;
	text-align:center;
}
.m-h-load-more-box h5 {
    font: bold 14px Sans-Serif !important;
    text-transform:uppercase;
    font-size:38px;
    line-height:1;
	margin-top:7px;
	margin-bottom:1px;
	margin-left:5px;
}
.m-h-load-more-box:hover h5 {
    text-shadow:0 0 6px rgba(0,0,0,0.4);
    color:white;
}

.m-h-load-more-box:hover {
    background-color: rgba(255,102,0,1);
}

.m-h-box {
    display:inline-block;
    width:135px;
    height:30px;
    background-color: rgba(0, 0, 0,.7);
	border: 1px solid black;
    color:white;
    text-decoration: none;
}

.m-h-box h5 {
    font: bold 14px Sans-Serif !important;
    text-transform:uppercase;
    font-size:38px;
    line-height:1;
	margin-top:7px;
	margin-bottom:1px;
	margin-left:5px;
}
.m-h-box:hover h5 {
    text-shadow:0 0 6px rgba(0,0,0,0.4);
    color:white;
}

.m-h-box:hover {
    background-color: rgba(255,102,0,1);
}

.champion-portrait {
	text-shadow: 0.1em 0.1em 0.2em black;
	padding-top:10px;
	margin-left:10px;
	margin-right:auto;
    display:inline-block;
    width:200px;
    height:351px;
    background-color: rgba(0, 0, 0,.7);
    color:white;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    background-repeat:no-repeat;
	background-size: contain;
    text-decoration: none;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 20px;
}
.purple-border{
	border: 3px solid rgba(102,51,153,.7);
}

.blue-border{
	border: 3px solid rgba(204,255,255,.7);
}
.champion-portrait:hover{
	border: 3px solid rgba(255,255,255,1);
}

.current-game-row {
	background-color: transparent;
	margin: 0;
    font: bold 20px Sans-Serif !important;
	text-align:center;
}

.current-game-row:hover{
	background-color: transparent;
}

.current-game-table{
	width:initial;
	margin: 0 auto;
}

.champion-icon, .summoner-spell-icon {
	margin:2px 2px 2px 2px;
    display:inline-block;
    width:48px;
    height:48px;
    background-color: rgba(0, 0, 0,.7);
	border: 1px solid black;
    color:white;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    background-repeat:no-repeat;
    text-decoration: none;
}

.summoner-spell-icon{
	background-size: inherit;
	margin-left: 63%;
	opacity: 0.57;
}
.summoner-spell-icon:hover{
	opacity: 1;
}


.map-icon {
    display:inline-block;
    width:100%;
	height:100%;
    color:white;
    text-decoration: none;
	bottom:0dp;
	right:0dp;
}

table, tr {
 width:100%;
}

tr {
	background-color: rgba(255,255,255,0.5);
	padding: 5px 2px;
}

tr:hover{
	background-color: rgba(255,255,255,1);
}

h2, h3,h4,h5{
	align-self:center;
}

img{
	border:1px solid black;
}

body{
	background-image: url("images/bg.png");
	background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: center top; 
	background-size: auto;
	font-family:"Calibri";
	margin:0dp;
}

footer{
	padding-right:15px;
}


#north {
	text-align:center;
	position: relative;
	height:85px;
	margin-top:85px;
	margin-bottom:15px;
	border: 1px solid black;
    background-image:url(images/banner.png);
	-khtml-opacity:.97; 
	 -moz-opacity:.97; 
	 -ms-filter:"alpha(opacity=97)";
	  filter:alpha(opacity=97);
	  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.3);
	  opacity:.97; 
}

#nav{
	background-color: rgba(126,126,126,0.9);
}

#center {
	top:5px;
	width:1770px;
	position: relative;
	padding-left:15px;
	padding-right:15px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.87);
	border:1px dotted black;
}

#post {
	margin-bottom: 5%;
	margin-top: 5%;
	padding:15px 2.5% 15px 2.5%;
	background-color: rgba(126,126,126,1);
	box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 10px;
}

#south {
	text-align:right;
	position: relative;
    left: 0;
    bottom: 0;
    height: 60px;
	border: 1px solid black;
    background-image:url(images/banner.png);
	-khtml-opacity:.97; 
	 -moz-opacity:.97; 
	 -ms-filter:"alpha(opacity=97)";
	  filter:alpha(opacity=97);
	  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.3);
	  opacity:.97; 
	
    background-position-y: 70px;
}



#overlay {
	opacity : 0.4;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background-color: white;
	 width: 100%;
	 height: 100%;
	 z-index: 5000;
}

#overlay img{
	position: absolute; 
	top: 50%;
	display: table-cell; 
	vertical-align: middle;
    left:50%;
    right:50%;
	border: none;
	transform: translate(-50%, -25%);
}

#button-match-history {
    background-image:url(images/match_history.png);
    background-position:300px 10px;
}
#button-match-history:hover {
    background-color:rgb(76,0,153);
    background-position:150px 10px;
}
#button-match-history:hover h5{
	text-shadow: 0.1em 0.1em 0.2em black
}

#button-masteries {
    background-image:url(images/masteries.png);
    background-position:300px 10px;
}
#button-masteries:hover {
    background-color:rgb(192,255,255);
    background-position:150px 10px;
}

#button-masteries:hover h5{
	text-shadow: 0.1em 0.1em 0.2em black
}
